<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	 xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:mvc="http://www.springframework.org/schema/mvc" 
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xmlns:p="http://www.springframework.org/schema/p"
	 xmlns:jd="http://www.springframework.org/schema/jdbc"
	 xsi:schemaLocation="http://www.springframework.org/schema/beans    
        				 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	        			 http://www.springframework.org/schema/context
	        		     http://www.springframework.org/schema/context/spring-context-4.0.xsd
	        			 http://www.springframework.org/schema/mvc
	        			 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	        			 http://www.springframework.org/schema/jdbc
      					 http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd">
	 <jd:embedded-database id="dataSource" type="HSQL">
	 	<jd:script location="classpath:databaseScript.sql"/>
	 </jd:embedded-database>
	 
	 <bean id="gamesDAO" class="com.ilona.leaderBoards.dao.GamesDAO">
	 	<property name="dataSource" ref="dataSource"/>
	 </bean>
	 <bean id="usersDAO" class="com.ilona.leaderBoards.dao.UsersDAO">
	 	<property name="dataSource" ref="dataSource"/>
	 </bean>
	 <bean id="scoresDAO" class="com.ilona.leaderBoards.dao.ScoresDAO">
	 	<property name="dataSource" ref="dataSource"/>
	 </bean>
	 <bean class="com.ilona.leaderBoards.controller.Test">
	 	<constructor-arg ref="gamesDAO"/>
	 	<constructor-arg ref="usersDAO"/>
	 	<constructor-arg ref="scoresDAO"/>
	 </bean>
</beans>